<!DOCTYPE html>
<html>
  <head>
    <title>Danh sách lớp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Danh sách lớp</h1>
    <a href="/form-add"><button>Thêm</button></a>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Mã Lớp Học</th>
        <th>Tên Lớp</th>
        <th>Số Lượng sinh viên</th>
        <th>Mã Giảng Viên</th>

        <th>ACTION</th>
      </tr>
      <tr>
     <% lops.forEach(item => { %>
        <tr>
          <td><%= item._id %></td>
          <td><%= item.maLopHoc %></td>
          <td><%= item.tenLop %></td>
          <td><%= item.soLuong %></td>
          <td><%= item.maGiangVien %></td>
          <td><a href="/form-update/<%= item._id %>">Update</a>||<a href="form-delete/<%= item._id %>">Delete</a></td>
        </tr>
     <% }) %>
      </tr>
    </table>
  </body>
</html>
